*{ box-sizing: border-box; }

body{
  margin: 0;
  font-family: "Times New Roman", serif;
  background-color: #ffffff;
  color: #0f172a;
  padding-bottom: 100px;
}

h1{
  margin: 0;
  padding: 1px 0;         
  text-align: center;
  font-size: 35px;         
  font-weight: 600;
  color: #0f766e;
  background: #c9f6ef;
}


nav{
  background: #dff3ff;
     padding: 1px 0;       
  margin: 20px 0 55px;     
  display: flex;
  justify-content: center;
  gap: 1px;                
  font-size: 21px;
  font-weight: 600;
}

nav a{
  color: #0a4f7a;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 3px;
}

nav a:hover{
  background: #0a4f7a;
  color: #fff;
}


table{
  width: 98%;
  margin: 0 auto 32px;      
  border-collapse: collapse;
  background: #f8fcff;
}

th, td{
  border: 1px solid #2f3b4a;
  padding: 22px 28px;       
  font-size: 18px;
}

th{
  background: #bfe7ff;
  text-align: center;
  font-weight: 800;
  color: #0a4f7a;
}
tr:hover{
  background: #bfe7ff;
  
}

footer{
  background: #0e7a74;
  color: #fff;
  text-align: center;
  padding: 1px 10px;      
  font-size: 18px;
  font-weight: 700;
}

footer p{
  margin: 1px 0;
  line-height: 1.2;
}



form{
  background: #f8fcff;
  margin-top: 5px;
  padding:10px 0 24px;
  text-align: center;
}

form label{
  display: block;
  font-weight: 800;
  font-size: 20px;
  margin: 12px 0 6px;
}


form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form select,
form textarea{
  width: 280px;
  padding: 6px 8px;
  font-size: 18px;
  border: 1px solid #2f3b4a;
  background: #F8FCFF;
}


form textarea{
  height: 70px;
  resize: vertical;
}


form input:focus,
form select:focus,
form textarea:focus{
  outline: none;
  border-color: #0a4f7a;
}


form input[type="submit"]{
  margin-top: 14px;
  background: #20BFA5;
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  padding: 6px 14px;
  border: 2px solid #2f3b4a;
  cursor: pointer;
}
form input[type="submit"]{
  font-family: vietnam be pro;
}
form input[type="submit"]:hover{
  filter: brightness(0.95);
  cursor: pointer;
  background-color: #0e7a74;
}

h1{ margin-bottom: 20px; }
.menu{ margin: 0; }





img{
    background-color: #abd9f8;
    display: block;
    margin: auto;
}

.intro{
    color: #155E75;
    background-color: #ffffff;
}

.main{
    background-color: #F0F9FF;
}

